// Define variables for your color scheme

// For example:
$papyrus: #FBF4DF;
$teal: #708B88;
$papyrus-highlight: #FFFDF8;
$teal-highlight: #779390;
$papyrus-shadow: #D5CFBE;
$teal-shadow: #536563;
$grey: #333333;
