// Specific CSS for your home-page

.home-grid{
  display: grid;
  grid-template-columns: 2fr 3fr;
  height: calc(100vh - 117px);
}

.home-banner {
  background-color: $teal;
  padding-left: 25%;
  padding-top: 60%;
  h1 {
    font-size: 72px;
  }
  h4 {
    color: $papyrus-highlight;
    width: 50%;
  }
}

.perk-gallery {
  display: flex;
  align-items: center;
  margin: auto;
  .main-perk {
    height: 516px;
    width: 320px;
    margin: 16px;
  }
  .minor-perk {
    margin: 16px;
  }
}

.lower-grid{
  display: grid;
  grid-template-columns: 2fr 3fr;
  .empty-column {
    background-color: $teal;
  }
}

.info-circle {
  border-radius: 50%;
  border: solid 1px $teal;
  text-align: center;
}

.small-circle {
  width: 400px;
  height: 400px;
  padding: 134px 67px;
  margin-left: 5%;
  margin-bottom: 32px;
}

.medium-circle {
  width: 500px;
  height: 500px;
  padding: 168px 84px;
  margin-left: 25%;
  margin-bottom: 32px;
}

.large-circle {
  width: 600px;
  height: 600px;
  padding: 200px 100px;
  margin-left: 15%;
  margin-bottom: 32px;
  margin-top: 32px;
}

.login-overlay {
  margin: 64px;
}

.login-options {
  padding-left: 12px;
  margin-top: 16px;
  padding-top: 16px;
  border-top: solid 1px $papyrus-shadow;
  width: 40%;
  display: flex;
  justify-content: space-between;
}
