// Specific CSS for your home-page

.home-grid{
  display: grid;
  grid-template-columns: 2fr 3fr;
  height: calc(100vh - 117px);
  margin-bottom: 32px;
}

.home-banner {
  background-color: $teal;
  padding-left: 25%;
  padding-top: 60%;
  h1 {
    font-size: 72px;
  }
  h4 {
    color: $papyrus-highlight;
    width: 50%;
  }
}

.perk-gallery {
  display: flex;
  align-items: center;
  margin-left: 32px;
  margin-right: 32px;
  .main-perk {
    height: 516px;
    width: 320px;
    margin: 16px;
  }
  .minor-perk {
    margin: 16px;
  }
}

.login-popout {
  width: 104px;
}
