// Specific CSS for your home-page

.green-body {
  background-color: $teal;
}

.home-grid{
  display: grid;
  grid-template-columns: 2fr 3fr;
  height: calc(100vh - 117px);
  width: calc(100vw - 120px);
}

.home-banner {
  background-color: $papyrus;
  padding-left: 20%;
  padding-top: 70%;
  h1 {
    font-size: 72px;
  }
  h4 {
    color: $teal-shadow;
    width: 50%;
  }
}

.perk-gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  .main-perk {
    height: 516px;
    width: 320px;
    margin: 16px;
  }
  .minor-perk {
    margin: 16px;
  }
}

.lower-grid{
  display: grid;
  grid-template-columns: 2fr 3fr;
  width: calc(100vw - 120px);
  .empty-column {
    background-color: $papyrus;
  }
}

.info-circle {
  border-radius: 50%;
  color: $papyrus;
  border: solid 1px $papyrus;
  text-align: center;
}

.small-circle {
  width: 20vw;
  height: 20vw;
  padding: 5vw 3vw;
  margin-left: 5%;
  margin-bottom: 32px;
}

.medium-circle {
  width: 25vw;
  height: 25vw;
  padding: 7vw 4vw;
  margin-left: 25%;
  margin-bottom: 32px;
}

.large-circle {
  width: 30vw;
  height: 30vw;
  padding: 9vw 5vw;
  margin-left: 15%;
  margin-bottom: 32px;
  margin-top: 32px;
}

.login-overlay {
  margin: 64px;
}

.login-options {
  padding-left: 12px;
  margin-top: 16px;
  padding-top: 16px;
  border-top: solid 1px $papyrus-shadow;
  width: 40%;
  display: flex;
  justify-content: space-between;
}
