.list-section {
  display: flex;
  justify-content: center;
  padding: 0px 16px;
  box-shadow: 4px 4px 4px rgba(213, 207, 190, 0.5), -4px -4px 4px rgba(255, 253, 248, 0.5);
  border: solid 4px $papyrus;
  border-radius: 8px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  position: relative;
  .text-vertical-left {
    width: auto;
    height: auto;
    position: absolute;
    top: -16px;
    left: 16px;
  }
  .green-text {
    color: $teal;
  }
}

.owned {
  height: calc(250px);
  display: flex;
  background-color: $teal;
  overflow-x: scroll;
  width: calc(90vw - 380px);
  margin-left: 5vw;
  margin-bottom: 16px;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.flex-owned {
  height: calc(234px);
  display: flex;
  background-color: $teal;
  overflow-x: scroll;
  margin-left: 2vw;
  margin-right: 2vw;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  .small {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.range {
  height: calc(98vh - 378px);
  margin-bottom: 0px;
  overflow-y: scroll;
  width: calc(90vw - 120px);
  margin: 0px auto 16px;
  flex-wrap: wrap;
}

.package-header {
  margin: auto;
  margin-top: 16px;
  margin-bottom: -32px;
}
