.list-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(90vw - 120px);
  margin: 0px auto 16px;
  padding: 0px 16px;
  box-shadow: 4px 4px 4px rgba(213, 207, 190, 0.5), -4px -4px 4px rgba(255, 253, 248, 0.5);
  border: solid 4px $papyrus;
  border-radius: 8px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  position: relative;
  .text-vertical-left {
    width: auto;
    height: auto;
    position: absolute;
    top: -16px;
    left: 16px;
  }
  .green-text {
    color: $teal;
  }
}

.owned {
  height: calc(250px);
  background-color: $teal;
  overflow-y: scroll;
}

.range {
  height: calc(98vh - 378px);
  margin-bottom: 0px;
  overflow-y: scroll;
}

.package-header {
  margin: auto;
  margin-top: 16px;
  margin-bottom: -32px;
}
