.side-trim {
  margin: 0 64px;
}

.results {
  display: flex;
  justify-content: space-between;
  position: fixed;
  border-bottom: solid 1px $papyrus-shadow;
  background-color: $papyrus;
  width: calc(90vw - 120px);
  padding-top: 32px;
  z-index: 1;
  .flex {
    width: 100%;
    justify-content: space-between;
  }
  p {
  font-size: 28px;
  padding-bottom: 1rem;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-left: 1.5rem;
  padding-right: 16px;
  margin-right: 16px;
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 67%;
}

.perks-cards {
  margin-right: 1rem;
  margin-top: 91px;
  padding-left: 1rem;
  .card {
    margin-bottom: 1rem;
  }
}

@media(max-width: 1170px) {
  #map {
    display: none;
  }
  .perks-cards {
    width: calc(130% - 120px);
    margin-right: 0.2rem;
    padding-left: 0.2rem;
  }
  .side-trim {
    margin: 0px 32px;
  }
}

@media(max-width: 690px) {
  .find {
    .overlay {
      display: none;
    }
  }
  .results {
    width: 90vw;
  }
  .side-trim {
    margin: 0px 16px;
  }
  .contain {
    margin-right: 0px;
  }
  .perks-cards {
    justify-content: center;
  }
}
