.cards-profile {
  display: grid;
  grid-template-columns: 1fr 5fr 5fr;
  position: relative;

}

.profile-grid{
  display: grid;
  grid-template-columns: 3fr 2fr;
  height: calc(100vh - 104px);
  width: 100vw;
}

.profile-first {
  background-color: $teal;
  padding: 32px 64px;
}

.profile-second {
  padding: 32px 64px;
  margin-right: 74px;
}

.profile-divs {
  display: flex;
  justify-content: space-around;
  padding: 64px;
}

.profile-perk {
  display: flex;
  border: 4px solid #FBF4DF;
  box-sizing: border-box;
  border-radius: 5px;
  width: 200px;
  height: 200px;
}

.notifications-block {
  color: $papyrus-highlight;
  margin-left: 32px;
}
