.cards-profile {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.profile-grid{
  display: grid;
  grid-template-columns: 3fr 2fr;
  height: calc(100vh - 104px);
  width: 100vw;
}

.profile-first {
  background-color: $teal;
  padding: 32px 64px;
}

.profile-second {
  padding: 32px 64px;
  margin-right: 74px;
  h3 {
    font-family: Londrina Shadow;
  }
}

.notifications-block {
  color: $papyrus-highlight;
  margin-left: 32px;
  h3 {
    border-bottom: solid 1px $papyrus;
    margin-bottom: 16px;
    padding-bottom: 4px;
    width: 100%;
    color: $papyrus;
  }
}
