.show-grid {
  display: grid;
  grid-template-columns: 11fr 1fr;
  .empty-column {
    background-color: $papyrus;
    min-width: 120px !important;
  }
  .button-right {
    position: absolute;
    top: 50vh;
    right: 232px;
  }
  .button-left {
    position: absolute;
    top: 50vh;
    left: 112px;
  }
}

.show-container {
  padding-top: 117px;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.show-flex {
  display: flex;
}

.perk-header {
  position: absolute;
  top: 167px;
  left: 12%;
  width: 40%;
  h2 {
    color: $papyrus;
    font-family: 'Londrina Shadow';
    font-size: 48px;
  }
  h4 {
    color: $papyrus;
    font-size: 24px;
  }
}

.description-section {
  color: $papyrus;
  position: absolute;
  bottom: 100px;
  right: calc(12% + 120px);
  text-align: right;
  width: 30%;
  p {
    font-size: 18px;
    margin-bottom: 0px;
  }
  .user-avatars{
    width: 80%;
    float: right;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid $papyrus;
  }
  h4 {
    margin-top: 0px;
    clear: right;
  }
}

.reviews-section {
  color: $papyrus;
  position: absolute;
  bottom: 100px;
  left: 12%;
  text-align: left;
  width: 30%;
  filter: opacity(30%);
  transition: 0.3s;
  &:hover {
    filter: opacity(100%);
  }
  .button-bar-light {
    margin-top: 4px;
  }
  h4 {
    width: 60%;
    padding-bottom: 4px;
    margin-bottom: 4px;
    border-bottom: solid 1px #fbf4df57;
  }
  h5 {
    width: 60%;
    margin-bottom: 4px;
    padding-bottom: 4px;
    border-bottom: solid 1px #fbf4df57;
  }
  .perk-review {
    height: 150px;
    overflow: scroll;
    width: 60%;
    margin-bottom: 4px;
    padding-bottom: 4px;
    border-bottom: solid 1px #fbf4df57;
    p {
      margin-bottom: 2px;
    }
    h6 {
      font-size: 1.1rem;
      border-bottom: solid 1px #fbf4df57;
      padding-bottom: 8px;
    }
  }
}
