.tokens-grid{
  position: absolute;
  top: 0px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  height: calc(100vh);
  width: 100vw;
}

.tokens-first {
  background-color: $teal;
  padding: 32px 64px;
}

.tokens-second {
  padding: 128px 32px 64px;
  h1 {
    text-align: center;
    color: $teal;
  }
}

.tokens-logo {
  color: $papyrus;
  position: absolute;
  bottom: 128px;
  left: 128px;
}

.bundle-options {
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  // box-shadow: inset 4px 4px 4px rgba(213, 207, 190, 0.5), inset -4px -4px 4px rgba(255, 253, 248, 0.5);
  padding: 32px;
}

.bundle-card {
  height: 130px;
  width: 210px;
  background-color: $papyrus;
  box-shadow: 4px 4px 4px rgba(213, 207, 190, 0.5), -4px -4px 4px rgba(255, 253, 248, 0.5);
  border-radius: 30px;
  margin: 32px auto;
  position: relative;
}

.card-body {
  height: 130px;
  width: 210px;
  padding: 24px;
  .card-title {
    color: $teal;
    border-bottom: solid 1px $teal;
    padding-bottom: 8px;
  }
  .flex {
    align-items: center;
    justify-content: space-between;
    h4 {
      margin-bottom: 0px;
    }
    .button-bar {
      margin: 4px;
      width: 100%;
    }
  }
}
