
<div class="contain">
  <h1>Notifications </h1>
    <br>
      <h3> turo: have two weeks for free on us when you renew <h3>
      <h3> ellie smith: any questions ahead of the update?</h3>
      <h3> perkk: less than two weeks to update your perks</h3>
      <h3> netflix: latest programmes released exclusive to perkk customers</h3>
      <h3> le wagon: we’ve increased your tokens for the next year!</h3>


  <div class="contain">
    <%= link_to "Search more perks!", perks_path %>
  </div>
</div>
