
<div class="contain">
  <div class="row">
    <div class="col">

  <h1 class="h2 my-3 d-flex justify">Notifications </h1>
    <br>
      <h5> turo: have two weeks for free on us when you renew <h5>
      <h5> ellie smith: any questions ahead of the update?</h5>
      <h5> perkk: less than two weeks to update your perks</h5>
      <h5> netflix: latest programmes released exclusive to perkk customers</h5>
      <h5> le wagon: we’ve increased your tokens for the next year!</h5>

      <div>
      <%= perk.name %>
      </div>

  validates :name, :description, :location, :token_cost, :start_date, :end_date, :category, :merchants, presence: true




    </div>
  </div>
</div>
