<div class="navbar">
  <h4 class="logo-icon">p</h4>
  <div class="navbar-sections">
    <%= link_to "home", root_path %>
    <%= link_to "profile", profile_path %>
    <%= link_to "search", perks_path %>
    <%= link_to "settings", edit_user_registration_path %>
  </div>
</div>
