

<%# Pop out for login %>
<div class="overlay" data-controller="overlay" data-popout-target="overlay">
  <%# Button below to pop out login page  %>
  <div class="sidebar">
    <div class="button-primary button-left button-overlay" data-popout-target="button" data-action="click->popout#toggleProfile"><%= "⌵" %></div>
    <h2 class="text-vertical-right">Profile</h2>
  </div>
