.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 8px 4px;
  border: solid 1px $papyrus;
  object-fit: cover;
}

.avatar-large {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin: 4px;
  border: solid 1px $papyrus;
}
