.logo {
  color: $teal;
  font-family: 'Londrina Shadow';
  font-size: 5rem;
  letter-spacing: 0.2rem;
}

.logo-alternative {
  color: $papyrus;
  font-family: 'Londrina Shadow';
  font-size: 5rem;
  letter-spacing: 0.2rem;
}
