#map {
  height: 60vh;
  position: sticky;
  top: 40vh;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  p {
    font-family: $body-font;
  }
  h1 {
    font-family: $headers-font;
  }
}
