#map {
  position: sticky;
  top: 20vh;
  border-radius: 30px;
  border: solid 2px $teal;
  margin-top: 16px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  p {
    font-family: $body-font;
  }
  h1 {
    font-family: $headers-font;
  }
}
