.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  background: transparent;
  margin: 32px;
}

.navbar .navbar-sections {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  font-size: 1.5rem;
}

.navbar .logo-icon {
  color: $teal;
  font-family: 'Londrina Shadow';
  border: solid 1px $papyrus;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 32px;
  text-align: center;
  box-shadow: -4px -4px 4px rgba(255, 253, 248, 0.5), 4px 4px 4px rgba(213, 207, 190, 0.5), inset 4px 4px 4px rgba(213, 207, 190, 0.5), inset -4px -4px 4px rgba(255, 253, 248, 0.5);
  margin-bottom: 0;
  font-size: 1.5rem;
  transition: 0.2s;
  &:hover {
    color: $papyrus;
    background-color: $teal;
    box-shadow: -4px -4px 4px rgba(255, 253, 248, 0.5), 4px 4px 4px rgba(213, 207, 190, 0.5);
  }
  &:active {
    box-shadow: -4px -4px 4px rgba(255, 253, 248, 0.5), 4px 4px 4px rgba(213, 207, 190, 0.5), inset -4px -4px 4px rgba(131, 159, 156, 0.5), inset 4px 4px 4px rgba(83, 101, 99, 0.5);
  }
}
