.popout {
  display: grid;
  grid-template-columns: 1fr 12fr;
  position: fixed;
  right: 8px;
  top: 8px;
  height: 98vh;
  width: 104px;
  background: $teal;
  box-shadow: -4px -4px 4px #779390, 4px 4px 4px rgba(83, 101, 99, 0.5);
  border-radius: 8px;
  transition: all 0.2s ease;
  z-index: 10;
}

.expanded-login {
  width: 61.5%;
}

@media(max-width: 900px) {
  .expanded-login {
    width: 98%;
  }
}
