.score-perk {
  color: $papyrus;
  background-color:$papyrus; //$teal;
  border: 4px solid;
  border-color: $teal;
  box-sizing: border-box;
  border-radius: 8px;
  width: 220px;
  height: calc(240px);
  box-shadow: -4px -4px 4px rgba(255, 253, 248, 0.5), 4px 4px 4px rgba(213, 207, 190, 0.5);
  padding: 16px;
  margin: 0px;
  position: fixed;
  top: 115px;
  right: 195px;
  z-index: 5;
}

// card same heightv as oiwned
// top same as height of navbar (120px)
// width 200px
//yellow - border, orange margin
//green - container
// ?decrease poadding
//background colour border

.score-details-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  padding-bottom: 12px;
  margin-bottom: 12px;
  color:$teal ;
  h2 {
    margin-bottom: 2px;
    text-align:center;
  }
  h4 {
    margin-bottom: 2px;
    text-align:center; ;
  }
}

.total-display{
  margin: 15px;
  position: relative;
}
