.search-bar {
  position: sticky;
  top: 104px;
  z-index: 1;
  background-color: $papyrus;
  box-shadow: -4px -4px 4px rgba(255, 253, 248, 0.5), 4px 4px 4px rgba(213, 207, 190, 0.5);
  padding: 16px 32px 16px;
  margin: 0 auto;
  margin-bottom: 32px;
  width: 100%;
  border-radius: 8px;
}

.wide-bar {
  width: 100%;
}
