.search-bar {
  position: sticky;
  top: 104px;
  z-index: 5;
  background-color: $papyrus;
  box-shadow: -4px -4px 4px rgba(255, 253, 248, 0.5), 4px 4px 4px rgba(213, 207, 190, 0.5);
  padding: 16px 32px 16px;
  margin: 0 auto;
  width: 100%;
}

.wide-bar {
  width: 100%;
}

button, select {
	text-transform: none;
	font-size: 20px;
	color: $teal;
  border: none;
	border-bottom: solid 1px $teal;
	border-radius: 2px;
	background: $papyrus;
	font-family: inherit;
	margin-right: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.submit-button {
  color: $papyrus;
  background-color: $teal;
	font-size: 16px;
  border: 1px solid $papyrus;
  box-sizing: border-box;
  box-shadow: inset -4px -4px 4px rgba(131, 159, 156, 0.5), inset 4px 4px 4px rgba(83, 101, 99, 0.5);
  border-radius: 40px;
	margin-right: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  height: 30px;
  width: 90px;
}
