.text-vertical-left {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 41px;
  color: #333333;
  transform: rotate(-90deg);
  position: absolute; top: 0; left: 0; text-align:right;
  margin-top: 466px;
  margin-left:-35px;

}
.text-vertical-right {
  height: 104px;
  width: 104px;
  margin-bottom: 0px;
  line-height: 104px;
  transform: rotate(90deg);
}
