.text-vertical-left {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 41px;
  color: #333333;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: left;
  top: 0; left: 0; text-align:right;
  position: absolute;
  left: - 20px;
  top: 0;
  text-align: right;


}
.text-vertical-right {
  height: 104px;
  width: 104px;
  margin-bottom: 0px;
  line-height: 104px;
  transform: rotate(90deg);
}
